<div class="bg-white border border-gray-300 rounded-xl shadow-md p-6 max-w-lg">
  <%= form_with(model: gateway, local: true) do |f| %>
    <div class="mb-4">
      <%= f.label :serial, "Seriennummer", class: "block text-sm font-medium text-gray-700" %>
      <%= f.text_field :serial, class: "mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500" %>
    </div>

    <div class="mb-4">
      <%= f.label :server_id, "Server zuweisen", class: "block text-sm font-medium text-gray-700" %>
      <%= f.collection_select :server_id, Server.all, :id, :name,
                              { include_blank: true },
                              { class: "mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500" } %>
    </div>

    <div class="flex space-x-3">
      <%= f.submit " Speichern", class: "" %>
      <%= link_to " Abbrechen", gateways_path, class: "" %>
    </div>
  <% end %>
</div>
