<!DOCTYPE html>
<html lang="">
<head>
  <title><%= content_for(:title) || "Server Gateway App" %></title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

  <%= yield :head %>

  <link rel="icon" href="/icon.png" type="image/png">
  <link rel="icon" href="/icon.svg" type="image/svg+xml">
  <link rel="apple-touch-icon" href="/icon.png">

  <%= javascript_importmap_tags %>
</head>

<body class="<%= current_user&.theme || 'light' %> bg-gray-100 text-gray-900">
<div class="flex min-h-screen">

  <!-- Sidebar -->
  <aside class="flex flex-col h-screen w-1/6 bg-[#003366] text-white p-6">
    <%= image_tag "securus-logo-white.png", size: "120x30" %>

    <!-- mittlerer Bereich -->
    <nav class="mt-4 space-y-2 flex-1 overflow-y-auto">
      <%= link_to "⏵  Server",   servers_path,   class: "block hover:bg-blue-700 p-2 rounded " %>
      <%= link_to "⏵  Gateways", gateways_path,  class: "block hover:bg-blue-700 p-2 rounded" %>
      <%= link_to "⏵  Benutzer", users_path,     class: "block hover:bg-blue-700 p-2 rounded" %>
      <%= link_to "⏵  Profil bearbeiten", edit_user_registration_path,
                  class: "block hover:bg-blue-700 p-2 rounded" %>
    </nav>

    <%= button_to "⏻  Abmelden",
                  destroy_user_session_path,
                  method: :delete,
                  form: { data: { turbo: false }, class: "" },
                  class: "block hover:bg-blue-700 p-2 rounded text-red-200 hover:text-white transition" %>
  </aside>

  <!-- Hauptbereich -->
  <main class="flex-1 p-10 bg-gray-50 text-gray-900">
    <%= yield %>
  </main>
</div>
</body>
</html>
